# Can't specify "*" so don't
colorama
pyparsing
docopt
pyyaml
pytest
pytest-cov
git+https://github.com/Pebaz/j2do

# We need this specific version of PyTCC since this version includes a func
# called `TCC.get_bytes()`.
git+https://github.com/Pebaz/pytcc
