// ARGUMENTS
    PyObject * ARGS_query_set = Py_BuildValue("(O, O)", Py_BuildValue("s", "set"), PyObject_Call(scope, PyTuple_New(0), NULL));
    PyObject * set = PyObject_Call(query, ARGS_query_set, NULL);
    PyObject * ARGS_set = PyTuple_New(2);
{%- for arg in arg_names %}
    PyTuple_SET_ITEM(ARGS_set, 0, Py_BuildValue("s", "{{ arg }}"));
    PyTuple_SET_ITEM(ARGS_set, 1, PyList_GetItem(ARGS, {{ loop.index - 1 }}));
    PyObject_Call(set, ARGS_set, NULL);
{%- endfor -%}
